html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
  font-weight: bold;
  
  height: 100%;
}
.topnav {
  display: flex;
  background-color: 	#EEECED;
  overflow: hidden;
  flex-direction: row;
  justify-content: baseline;
  flex-grow: 1;
  z-index: 500;
  position: sticky;

}
.flashbox{
  background: #465a95;
  color: white;
  font-weight: bolder;
}
.middle{
 flex: 1;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  z-index: -500;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.topnav a:hover {
  background-color:black;
  color:white;
}

.topnav a.active {
  background-color: black;
  color: white;
}
#abcd2{
  width: 100%;
  flex-grow: 1;
  background-color:#ebebeb;
  color:white;
}
#abcd2 a:hover{
  background-color:#ebebeb;
}
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  a {
    text-decoration: none;
  }
  body {
  
  
    background: #ebebeb;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
  }
  h1 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-family: 'Roboto', sans-serif;
  }
  .links{
    align-content: center;
    align-items: center;
    text-align: center;
    border: #76b852;

  }
  .links a {
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 30px;
    font-family: Georgia, Times, 'Times New Roman', serif;
  }
  .links a:hover {
  background-color:black;
  color:white;
}

.links a:active {
  background-color: black;
  color: white;
}

  