html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #ebebeb;
  height: 100%;
}
.topnav {
  display: flex;
  background-color: 	#EEECED;
  overflow: hidden;
  flex-direction: row;
  justify-content: baseline;
  flex-grow: 1;

}
.flashbox{
  background: #991a4d;
  color: white;
  font-weight: bolder;
}
.middle{
 flex: 1;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.topnav a:hover {
  background-color:coral;
  color:white;
}

.topnav a.active {
  background-color: black;
  color: white;
}
#abcd2{
  width: 100%;
  flex-grow: 1;
  background-color:#ebebeb;
  color:white;
}
#abcd2 a:hover{
  background-color:#ebebeb;
}

.second{

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  height: 80vh;
  overflow-y: hidden;
  overflow-x: hidden;
}
#small_popular{
  position: relative;
  order: 1;
  list-style-type:none;
  transform: rotate(-90deg);
  font-size: 7.5vh;
  margin: 0%;
  top:15vh;
  left:-5vh;
 height: 30vh;
  width: 40vh;
}

#small_popular::before{

  top:4vh;
  content: '';
  width: 20vh;
  border-bottom: solid 0.7vh black;
  position: absolute;
  left: -14vh;
  }

#move-able{
 position: relative;
 left: 1vh;
}
.item{
   height: auto;

    min-width: 20rem;
    padding: 1px;
    align-content: space-between;
}

.card{

  width: auto;
  align-content: center;
  position: relative;
  padding: 2px;
  height: 20vmax;

}
@media (max-width:900px) {


  html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  .second{

    display:block;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    height: 80vh;
    width: auto;
  }
  #small_popular{
    position: relative;

    list-style-type:none;
    transform: none;
    font-size: 5vh;
    margin: 0%;
    top:auto;
    left:auto;
   height: 30vh;
    width: 40vh;
  }
  #small_popular::before{

    top:2vh;
    content: '';
    width: 15vh;
    border-bottom: solid 0.7vh black;
    position: absolute;
    left: -14vh;

  }
  .shapes-small{
    transform: rotate(-90deg);
    bottom:
  }
  #big_popular{
    position: absolute;
    top: 8vh;
    list-style-type:none;
    transform: none;
    font-size: 8vh;
    margin: 0%;
    padding: 0%;
    left: auto;
}
#mova-able{
  position: absolute;
  top: 20vh;
}

}
.last2{
  height: 20rem;
  color: white;
  padding: 0%;
  margin: 0%;
  background-color: black;
  position: relative;
  top: -5rem;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;

}
.container{
  z-index: 100;
  background-image: image("background.jpg");
}
